20231111_161647.mp4
Как изменить время отображения уведомлений в Windows 10 - Лайфхакер.pdf
Отключить поиск в интернете в меню Пуск в Windows 10 и 11 _ Windows для системных администраторов.pdf
мысли.mp4
реестр.txt
.vs/